.form-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    max-height: 100vh;
    margin: auto;
    max-width: 42em;

}

.form-box-outer {
    width: 50%;
    padding: 3em;
    padding-top: 2em;
    margin-top: 2em;
    border: 1.5em solid #FFDE00;
    border-radius: 1em;
    box-shadow: 5px 5px 5px rgb(162, 162, 162);
    /* not sure if background looks better just left white? */
    background-image: url("https://bit.ly/3srhQPW");
    background-size: cover;

}

.form-box {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-button {
    min-width: 5em;
    margin-top: 2em;
    /* don't look at this nasty bit of css below please */ 
    /* ! my eyes!!! */
    background-color: #3B4CCA !important; 
}

.form-title {
    color: #3B4CCA;
    text-shadow: 0.03em 0.03em 0.05em darkgray;
    margin-top: 5%;
}

.form-ctrl {
    max-width: 20em;
}

.hide-helper {
    display: none;
}

/* For 'User.js' card formatting: */

.card-box {
    height: 100%;
  }

.card-outer {
    background-color: #FFDE00;
    height: 79vh;
    display: flex;
    margin-top: 2%;
    border-radius: 1em;
    min-height: 40em;
    max-height: 55em;
    max-width: 30em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 5px 5px 5px rgb(162, 162, 162);
    margin-bottom: 20px;
}

.card-inner {
    /* background-color: #e5c706; */
    background-image: url("https://bit.ly/3srhQPW");
    background-size: cover;
    margin: 4%;
    width: 100%;
    height: auto;
    padding: 4%;
}

/* TODO - refactor the below... */

.user-box {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #ffdd0053;
    border: 1.3em solid #FFDE00;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.5em rgb(75, 75, 75);
    padding: 0.5em;
}

.user-form-box {
    margin-top: 10%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #ffffff7b;
    border: 1.3em solid #FFDE00;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.5em rgb(75, 75, 75);
    padding: 0.5em;
}

.user-form-box-small {
    margin-top: 10%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #ffffff7b;
    border: 1.3em solid #FFDE00;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.5em rgb(75, 75, 75);
    padding: 0.5em;
}

.mock-button {
    display: inline-flex;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    width: 100%;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    text-decoration: none;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 16px;
    border-radius: 4px;
    color: #fff;
    background-color: #1976d2;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    writing-mode: horizontal-tb !important;
    margin: 1em 0;
}

.edit-user-form {
    margin-top: 10%;
    margin-bottom: 5%;
}

.input-div {
    padding: 1em;
    margin: 1em 0;
}

.input-label {
    color: #3B4CCA;
    font-weight: bold;
}

.input-box {
    padding: 0.5em;
    width: 50%;
    margin-left: 0.5em;
    border: none;
    border-radius: 0.5em;
    box-shadow: darkgray 0.1em 0.1em 0.5em;
}

.info-box {
    background-color: white;
    border-radius: 1.5em;
    margin: 0 0.5em;
    box-shadow: darkgray 0.1em 0.1em 0.5em;
}