.form-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    max-height: 100vh;
    margin: auto;
    max-width: 42em;

}

.form-box-outer {
    width: 50%;
    padding: 3em;
    padding-top: 2em;
    margin-top: 2em;
    border: 1.5em solid #FFDE00;
    border-radius: 1em;
    box-shadow: 5px 5px 5px rgb(162, 162, 162);
    /* not sure if background looks better just left white? */
    background-image: url("https://bit.ly/3srhQPW");
    background-size: cover;

}

.form-box {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-button {
    width: 60%;
    min-width: 5em;
    margin-top: 2em;
    /* don't look at this nasty bit of css below please */ 
    /* ! my eyes!!! */
    background-color: #3B4CCA !important; 
}

.form-title {
    color: #3B4CCA;
    text-shadow: 0.03em 0.03em 0.05em darkgray;
    margin-top: 5%;
}

.form-ctrl {
    max-width: 20em;
}

.hide-helper {
    display: none;
}

/* For 'User.js' card formatting: */

.card-box {
    height: 100%;
  }

.card-outer {
    background-color: #FFDE00;
    height: 79vh;
    display: flex;
    margin-top: 2%;
    border-radius: 1em;
    min-height: 40em;
    max-height: 55em;
    max-width: 30em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 5px 5px 5px rgb(162, 162, 162);
    margin-bottom: 20px;
}

.card-inner {
    /* background-color: #e5c706; */
    background-image: url("https://bit.ly/3srhQPW");
    background-size: cover;
    margin: 4%;
    width: 100%;
    height: auto;
    padding: 4%;
}

.user-box {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #ffdd0053;
    border: 1.3em solid #FFDE00;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.5em rgb(75, 75, 75);
    padding: 0.5em;
}

.user-form-box {
    margin-top: 10%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #ffffff7b;
    border: 1.3em solid #FFDE00;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.5em rgb(75, 75, 75);
    padding: 0.5em;
}

.user-form-box-small {
    margin-top: 10%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #ffffff7b;
    border: 1.3em solid #FFDE00;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.5em rgb(75, 75, 75);
    padding: 0.5em;
}

