.card-box {
    height: 100%;
  }

.card-outer {
    background-color: #FFDE00;
    height: 79vh;
    display: flex;
    margin-top: 2%;
    border-radius: 1em;
    min-height: 40em;
    max-height: 55em;
    max-width: 30em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 5px 5px 5px rgb(162, 162, 162);
    margin-bottom: 20px;
}

.card-inner {
    /* background-color: #e5c706; */
    background-image: url("https://bit.ly/3srhQPW");
    background-size: cover;
    margin: 4%;
    width: 100%;
    height: auto;
    padding: 4%;
}

.card-box-inner {
    margin: 0.3em;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    display: flex;

    
}

.name-box {
    background-color: transparent;
    height: 4%;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.sprite-box {
    background-color: white;
    height: 45%;
    width: 95%;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 3px 3px 3px rgb(162, 162, 162);

}

.buttons-box {
    display: flex;
    justify-content: space-evenly;
    background-color: #3B4CCA;
    height: 16%;
    margin-top: -0.3em;
    width: 95%;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 3px 3px 3px rgb(162, 162, 162);

}

.status-box {
    background-color: transparent;
    height: 20%;
}

.updates-box {
    background-color: transparent;
    height: 12%;
}

.name, .HP {
    color: #3B4CCA;
    text-shadow: 0.03em 0.03em 0.05em darkgray;
}