/* || -- CSS for main components -- */

/* || Text */
.yellow-text {
    color: #3B4CCA
}

/* || Logo */
.logo-div {
    display: flex;
    justify-content: center;
    /* background-color: #FFDE00; */
}

.logo-image {
    /* max-height: 5em; */
    margin-top: 2%;
    margin-bottom: 2%;
}

/* || Header */

.header-box {
    margin: auto;
    max-width: 30em;
    border-radius: 0.5em;

}

.header-bar {
    border-radius: 0.7em;
}

.link {
    text-decoration: none;
    color: inherit;
}

.vl {
    border-left: 1px solid #3B4CCA;
    height: 55px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 5PX;
}