body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* TODO : add media query to reduce/inrease this based on screen size? */

.app-outer {
  margin: 0 3%;
}

/* For 'User.js' card formatting: */

.card-box {
  height: 100%;
}

.card-outer {
  background-color: #FFDE00;
  height: 79vh;
  display: flex;
  margin-top: 2%;
  border-radius: 1em;
  min-height: 40em;
  max-height: 55em;
  max-width: 30em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 5px 5px rgb(162, 162, 162);
  margin-bottom: 20px;
}

.card-inner {
  /* background-color: #e5c706; */
  background-image: url("https://bit.ly/3srhQPW");
  background-size: cover;
  margin: 4%;
  width: 100%;
  height: auto;
  padding: 4%;
}

.content-box {
  background-color: #3B4CCA;
  height: 100%;
}

.notfound-img {
  max-width: 70%;
  max-height: 70%;
  margin-left: 15%;
}

